<div class='col-md-3'>
      <h2>User info</h2>
      <table class='table'>
        <tr><%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %></tr>
         <th>name</th>
         <th><%= user.name %></th>
        </tr>
        <tr>
         <th>introduction</th>
         <th><%= user.introduction %></th>
         <tr>
          <th>follows</th>
          <th>
           <%= link_to user_followings_url(user.id) do %>
             <%= user.followings.count %>
           <% end %>
          </th>
         </tr>
         <tr>
          <th>followers</th>
          <th>
           <%= link_to user_followers_url(user.id) do %>
            <%= user.followers.count %>
           <% end %>
          </th>
         </tr>
         <tr>
          <% if user.id != current_user.id %>
            <td><%= render "relationships/button", user: user %></td>
          <% end %>
         </tr>
        </tr>
      </table>
      <div class='row'>
       <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-user-cog"></i>
       <% end %>
      </div>
      <h1>New book</h1>
      <%= form_with model:book, url:'/books', local:true do |f| %>
      <div class="form-group">
       <label for='book_title'>Title</label>
       <input class="form-control book_title" type="text" name="book[title]" id="book_title" />
      </div>
      <div class="form-group">
       <label for="book_opinion">Opinion</label>
       <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
      </div>
      <div class="form-group">
       <input type="submit" name"commit" value="Create Book" class="btn btn-success" data-disable="Create Book" />
      </div>
      <% end %>
</div>